<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th>
        <th>Titulo</th>
        <th>Precio</th>
        <th>Inventario</th>
        <th>Detalles</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->

      @for (item of products(); track $index) {

      <tr>
        <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th>
        <td>
          <div class="flex items-center gap-3">
            <div class="avatar">
              <div class="mask mask-squircle h-12 w-12">
                <img
                  [src]="item.images | productImagePipe"
                  [alt]="item.title"
                />
              </div>
            </div>
            <div>
              <a
                [routerLink]="['/admin/product', item.id]"
                routerLinkActive="router-link-active"
                class="font-bold hover:text-accent transition-colors duration-300"
                >{{ item.title }}</a
              >
              <div class="text-sm opacity-50">{{ item.sizes.join(",") }}</div>
            </div>
          </div>
        </td>
        <td>
          {{ item.price | currency }}
        </td>
        <td>
          @if (item.stock < 10) {
          <span class="badge badge-error"> {{ item.stock }}</span>
          } @else if (item.stock < 20) {
          <span class="badge badge-warning"> {{ item.stock }}</span>
          } @else {
          <span class="badge badge-success"> {{ item.stock }}</span>
          }
        </td>
        <th>
          <a
            [routerLink]="['/admin/product', item.id]"
            class="btn btn-ghost text-accent btn-xs"
            >Detalles</a
          >
        </th>
      </tr>
      }
    </tbody>
  </table>
</div>
