<div class="card bg-base-100 shadow-sm animate-fadeIn">
  <figure>
    <img [src]="product().images | productImagePipe" [alt]="product().title" />
  </figure>
  <div class="card-body">
    <h2
      class="card-title text-accent font-montserrat text-lg hover:underline cursor-pointer"
      [routerLink]="['/product', product().slug]"
    >
      {{ product().title }}
    </h2>
    <p>{{ product().description | slice : 0 : 60 }}...</p>
    <div class="card-actions justify-end">
      <a
        class="text-accent font-bold"
        [routerLink]="['/product', product().slug]"
        >Ver más</a
      >
    </div>
  </div>
</div>
